@model app.Models.login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>display</title>
</head>
<body>
    <div>
        <h3>Thanks for signing in...</h3>
        <h3>Your Medicines and treatment are:</h3>
    </div>
</body>
</html>
